body{
    background: #000;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: myFont;
}
span{
    font-family: myFont;
}
body{
    font-family: myFont;
}

@font-face {
    font-family: "myFont";
    src: url("fonts/PTN77F-webfont.woff") format("woff");
  }
/* @font-face {
    font-family: "font1";
    src: url("fonts/PTN77F-webfont.eot") format("eot");
  } */

.main-content{
    width: 900px;
    margin: auto;
 

}

#nav-panel{
    background:#000;
    display:inline-block;
    width:100%;
    font-family: first-font;
}
.logo{
    /* position:relative !important;
    float: left !important; */
    float: left ;
    position: relative;
    margin: 0;
    
}
.logo-img{
    margin: -10px;
    padding-left: 40px;
}
#nav-panel ul,
#nav-panel ul li,
#nav-panel ul li a{
    margin:0;
    padding:0;
    list-style:none;
    display:block;
    color:#f3f3f3;
    text-decoration:none;
  
    font-family: first-font;
    
}

#nav-panel > .nav-menu{

    display:block;
    border:0;
    margin-top: 10px;
}

#nav-panel ul li{
 
    float: left;
    margin: 0;
    overflow:hidden;
    text-align: center;
  
}

#nav-panel > .nav-menu > li > a{
    padding: 0px 2px;
    border-right: 1px solid #4e4e4e;
    border-bottom:none;
    margin-left: 10px;
    font-family: first-font;
}

#nav-panel > .nav-menu > .active{
    margin-left: 80px;
}

#nav-panel > .nav-menu > li:last-child > a{
    border:none;
    position: absolute;
    right: 190px;
}

#nav-panel ul li ul{
    display:none; border:none;
}
.search{
    border-radius: 6px;
    background-color: #f0f0f0;
    height: 30px;
    width: 200px;
    padding: 10px;;

}
.search-bar {
    position: relative;
    right: 0;
  
  }
.search-bar .ic {
    cursor: pointer;
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  padding: 13px 15px 13px 11px;
  color: #b7b7b7;
  margin-top: 4px;
  margin-right: 0;
  }
  .front{
      background-color: #1c1c1c;
      height: 450px;
      position: relative;
      
  }
  .dexter{
      height: 350px;
      width: 240px;
      position: absolute;
      left: 140px;
      top: 40px;
  }
  .star{
      position: absolute;
      top: 390px;
      left: 220px;
      background: url(img/star-icon.png);
      background-position: top;
cursor: pointer;
      height: 20px;
    width: 50px;
  

  }
  .star:hover{
    /* animation: star-animate 0.5s;
    animation-duration: 3s;
animation-timing-function: ease;
cursor: pointer; */

animation-name: animate;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(44);
  animation-fill-mode: forwards;

  }
  .star:focus{
    /* animation: star-animate 0.5s;
    animation-duration: 3s;
animation-timing-function: ease;
cursor: pointer; */

animation-name: animate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(44);
  animation-fill-mode: forwards;

  }

  @keyframes animate {
    0%   { background-position: bottom;  }
    50%  { background-position: top; }
    100% { background-position: top; }
  }
  
  

  
.content{
    position: absolute;
    top: 40px;
    left: 400px;;
    color: #fff;
    
}
.day-movie{
    color: #3774e0;

}
.movie-name
{
    color:#c7c6ce;
}
.desc{
    color: #9998a2;
    font-size: 14px;
    width: 340px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 50px;
}
.slider{
    position: absolute;
    top: 280px;
    left: 400px;
    
}
.left{
    background-color: #1c1c1c;
    border: 0;
}
.right{
    background-color: #1c1c1c;
    border: 0;
}
.arrow-left{
    position: absolute;
    top: 40px;

}
.pic1{
    position: absolute;
    left: 40px;
}
.trailor1-name{
    color: #888888;
    font-weight: bold;
    font-size: 13px;
    margin-top: 0 !important;
    text-transform: uppercase;
}
.pic2{
    position: absolute;
    left: 220px;
}
.trailor2-name{
    color: #888888;
    font-weight: bold;
    font-size: 13px;
    margin-top: 0 !important;
    text-transform: uppercase;
}
.arrow-right{
    position: absolute;
    top: 40px;
    left: 390px;

}
.movie-month{
    height: 380px;
    background-color: #fff;
    position: relative;
}
.month-heading{

}
.month-movie{
    text-transform: uppercase;
    color: #999999;
    padding: 20px;
    display: inline-block;
}
.next-prev-movie{
    color: #999999;
}
.see-all{
    position: absolute;
    right: 0;
    padding: 30px;
    display: inline-block;
}
.see-all-movie{
    padding-right: 10px;
}
.see{
    color: #5293c2;
    font-weight: bold;
}
.movie1{
    position: absolute;
    top: 90px;
    left: 30px;
    width: 190px;
}
.movie2{
    position: absolute;
    top: 90px;
    left: 250px;
    width: 190px;
}
.movie3{
    position: absolute;
    top: 90px;
    left: 470px;
    width: 190px;
}
.movie4{
    position: absolute;
    top: 90px;
    left: 690px;
    width: 190px;
}
.name{
    color: #5293c2;
    width: 90px;
}
.underline{

    border-bottom: solid 2px #dce7f1;
    
      padding-bottom: 1px;
}
.movie-desc{
   
    font-size: 13px;
}
.num-likes
{
    color:#979797;
    padding-left: 5px;
}
.view-img{
    padding-left: 15px;
}
.num-views{
    color:#979797;
    padding-left: 5px;
}
.movie-day
{
   background-color:  #efefef;
   position: relative;
   height: 1700px;
}
.news-movie{
    position: absolute;
    text-transform: uppercase;
    color: #999999;
    padding: 30px;
    left: -30px;
    top: -98px;
}
.day-movi{
    text-transform: uppercase;
    color: #999999;
    padding: 30px;
    position: absolute;
    left: -30px;
    top: -98px;
   
}
.dreamworks{
    position: absolute;
    left: 30px;
    top: 80px;
    width: 450px;
}
.dreamworks-img{
    height: 180px;
    width: 475px;
}
.jurors{
    position: absolute;
    left: 30px;
    top: 500px;
    width: 450px;
}
.jurors-img{
    
    width: 475px !important;
}
.metallica1{
    position: absolute;
    left: 30px;
    top: 900px;
    width: 450px;
    width: 227px;
    height: 300px;
    background-color: #fafafa;
}
.video-icon-m1{
    position: absolute;
    left: 179px;
    top: 97px;
    z-index: 2;
}
.metallica2{
    position: absolute;
    left: 280px;
    top: 900px;
    width: 450px;
    width: 227px;
    height: 300px;
    background-color: #fafafa;
}
.video-icon-m2{
    position: absolute;
    left: 179px;
    top: 97px;
    z-index: 2;
}
.metallica-heading
{
    margin-left: 20px;
    color: #5293c2;
}
.metallica-details{
    width: 218px;
    margin-left: 20px;
    font-size: 13px;
    color: #9d9ea3;
}
.metallica-likes{
    margin-left: 20px;
    font-size: 13px;
    color: #9d9ea3;
    
}
.num-views-metallica, .num-metallica-likes{
    font-size: 13px;
    color: #9d9ea3;
    margin-left: 8px;
   
}
.kay{
    position: absolute;
    left: 30px;
    top: 1270px;
    width: 450px;
}
.fantastic{
    position: absolute;
    left: 549px;
    top: 80px;
    width: 285px;
}
.fantastic-img{
    width: 305px;
    height: 180px;
}
.video-icon{
    position: absolute;
    left: 259px;
    top: 140px;
    z-index: 2;
    
}
.rome{
    position: absolute;
    left: 549px;
    top: 430px;
    width: 285px;
}
.loopers{
    position: absolute;
    left: 549px;
    top: 900px;
    width: 285px;
}
.dream-heading
{
   
    color: #5293c2;
}
.news-heading
{
   
    color: #5293c2;
}
.news-heading-rome
{
    
    color: #5293c2;
}
.dream-details{
  
    width: 450px;
    font-size: 15px;
    color: #9d9ea3;
}
.news-details{

    width: 320px;
    font-size: 15px;
    color: #9d9ea3;
}
.news-details-rome{
    
    width: 300px;
    font-size: 15px;
    color: #9d9ea3;
}
.news-details-loopers{
    
    width: 320px;
    font-size: 15px;
    color: #9d9ea3;
}
.dream-desc{
   
    width: 450px;
    font-size: 15px;
    color: #9d9ea3;
}
.dream-likes
{
    color:#979797;
    
}
.news-likes
{
    color:#979797;
   
}
.news-likes-rome{
    color:#979797;
   
}
.num-dream-likes{
    color:#979797;
    
}
.num-news-likes{
    color:#979797;
   
}
.num-likes-rome{
    color:#979797;
    
}
.view-img-dream{
    color:#979797;
  
}
.view-img-news{
    color:#979797;
   
}
.view-img-rome{
    color:#979797;
    
}
.num-views-dream{
    color:#979797;
    
}
.num-views-news{
    color:#979797;
    
}
.num-views-rome{
    color:#979797;
    
}
.footer{
    background-color: #1f1f1f;
    height: 277px;
    padding-left: 10px;
    padding-top: 43px;
    position: relative;
}
.site{
    width: 200px;
   
    text-align: center;
}
.title{
padding-bottom: 13px;
}
.site >.title{
    border-bottom: 1px solid #373737;
    margin: -5px;
}
.site-icons{
    padding-top: 30px;
}
.site >.site-icons{
    border-top: 1px solid #373737;
    width: 50%;
    margin: auto;
    
}
.title-desc{
    color: #868686;
    font-size: 13px;
    width: 120px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.site-icons{
    margin-top: 30px;
}
.dashboard{
 
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left:200px;
}
.dashboard-header{
    border-bottom: 1px solid #373737;
    /* margin: auto; */
    padding-bottom: 20px;
    font-size: 20px;
    color: #5293c2;
}

.dashboard1,.dashboard2,.dashboard3,.dashboard4{
    color: #818181;
    border-bottom: 1px solid #373737;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
.dashboard-num{
    float: right;
}
.movies-footer{
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 360px;
}
.tv-footer{
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left:480px;
}
.links{
    text-transform: uppercase;
    color: #5293c2;
    position: absolute;
    top: 30px;
    left: 660px;
    line-height: 0.7rem;
    font-size: 15px;
}