body{
    background: #000;
    margin: 0
}
.main-content{
    width: 900px;
    margin: auto;
 

}

#nav-panel{
    background:#000;
    display:inline-block;
    width:100%;
}
.logo{
    /* position:relative !important;
    float: left !important; */
    float: left ;
    position: relative;
    margin: 0;
    
}
#nav-panel ul,
#nav-panel ul li,
#nav-panel ul li a{
    margin:0;
    padding:0;
    list-style:none;
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:18px;;
    
}

#nav-panel > .nav-menu{

    display:block;
    border:0;
}

#nav-panel ul li{
 
    float: left;
    margin: 0;
    overflow:hidden;
    text-align: center;
  
}

#nav-panel > .nav-menu > li > a{
    padding: 0px 12px;
    border-right: 1px solid #4e4e4e;
    border-bottom:none;
    line-height:55px;
    margin: 10px;
}



#nav-panel > .nav-menu > li:last-child > a{
    border:none;
}

#nav-panel ul li ul{
    display:none; border:none;
}
.search{
    border-radius: 6px;
    background-color: #f0f0f0;
    height: 30px;
    width: 200px;
    padding: 10px;;

}
.search-bar {
    position: relative;
  
  }
.search-bar .ic {
    cursor: pointer;
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  padding: 13px 15px 13px 11px;
  color: #b7b7b7;
  margin-top: 4px;;
  }
  .front{
      background-color: #1c1c1c;
      height: 450px;
      position: relative;
      
  }
  .dexter{
      height: 320px;
      width: 220px;
      position: absolute;
      left: 140px;
      top: 40px;
  }
  .star{
      position: absolute;
      top: 370px;
      left: 220px;;
  }
.content{
    position: absolute;
    top: 40px;
    left: 400px;;
    color: #fff;
    
}
.day-movie{
    color: #3774e0;

}
.movie-name
{
    color:#c7c6ce;
}
.desc{
    color: #9998a2;
    font-size: 14px;
    width: 340px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 50px;
}